<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-9 align-self-center">
        <h4 class="text-themecolor m-b-0">{{pageInfo?.title}} {{username}}</h4>
    </div>
    <div class="col-md-3">
        <!-- <div class="search-area w-100">
            <div>
                <input type="text" class="form-control" [(ngModel)]="filterText" #ctrl="ngModel"
                    (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
            </div>
        </div> -->
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->