.main-container{
    margin-top: 60px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;

}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

.topbar{
    background-color: #000327;
    box-shadow: 0 2px 6px 0 rgba(91,103,112,.08);
    .navbar-brand{
        img{
            width: 220px;
        }
    }
}