<div class="bg-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="sign-up-area">
                <div class="forgot-img animated fadeInDown"><img src="assets/images/awhiz/Logo.svg"></div>
                <div class="panel-section text-center">
                    <h4 class="mb-3 login-popup-title">Reset Password</h4>
                    <form [formGroup]="requestPasswordFinishForm" novalidate>
                        <div class="form-group">
                            <input type="password" [type]="showText ? 'text' : 'password'" formControlName="newPassword"
                                class="form-control" placeholder="enter new password" />
                            <div class="error-show" *ngIf="requestPasswordFinishForm.controls.newPassword.errors && (requestPasswordFinishForm.controls.newPassword.dirty
                                || requestPasswordFinishForm.controls.newPassword.touched)">
                                <span *ngIf="requestPasswordFinishForm.controls.newPassword.errors.required">password is
                                    required</span>
                                <span *ngIf="requestPasswordFinishForm.controls.newPassword.errors.pattern">passwords
                                    must contain at
                                    least 8 characters, including uppercase, lowercase letters and
                                    numbers</span>
                            </div>
                            <div class="pass-view">
                                <div *ngIf="!showText">
                                    <i class="fas fa-eye" (click)="showPasswordToggle();"></i>
                                </div>
                                <div *ngIf="showText">
                                    <i class="fas fa-eye-slash" (click)="showPasswordToggle();"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-sm" (click)="finishRequestPassword();"><i
                                class="fas fa-key"></i> Reset</button>
                        <div class="signup-link mt-3" (click)="requestPasswordFinishForm.reset();">
                            <a [routerLink]="['/login']"><i class="fas fa-arrow-alt-circle-left"></i> Back to login</a>
                        </div>
                    </div>
                    <p class="copy-right-text">COPYRIGHT © 2020 AUTOMATIONWHIZ | CYGNET INFOTECH </p>
                </div>
            </div>
        </div>
    </div>
</div>