<div class="bg-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="sign-up-area">
                <div class="forgot-img animated fadeInDown"><img src="assets/images/awhiz/Logo.svg"></div>
                <div class="panel-section text-center">
                    <div *ngIf="showFlag">
                        <h4 class="mb-3 login-popup-title">Forgot Password ?</h4>
                        <p class="text-muted link-share"> We will email you a link to reset your password</p>
                        <form [formGroup]="requestPasswordResetForm" novalidate>
                            <div class="form-group">
                                <input type="email" formControlName='email' class="form-control"
                                    placeholder="enter registered mail address" maxlength="150" />
                                <div class="error-show"
                                    *ngIf="requestPasswordResetForm.controls.email.errors && (requestPasswordResetForm.controls.email.dirty
                                                                                                        || requestPasswordResetForm.controls.email.touched)">
                                    <span *ngIf="requestPasswordResetForm.controls.email.errors.required">email is
                                        required</span>
                                    <span *ngIf="requestPasswordResetForm.controls.email.errors.pattern">email is
                                        not
                                        valid ( max 150 char)</span>
                                </div>
                            </div>
                        </form>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-sm" (click)="requestPasswordReset();"><i
                                    class="fas fa-key"></i> Get password
                                Reset Link</button>
                            <div class="signup-link mt-3">
                                <a [routerLink]="['/login']"><i class="fas fa-arrow-alt-circle-left"></i> Back to
                                    login</a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!showFlag">
                        <p class="text-muted link-share"> Check register mail id and go to that link address</p>
                        <div class="mb-3">
                            <div class="signup-link mt-3">
                                <a [routerLink]="['/login']"><i class="fas fa-arrow-alt-circle-left"></i> Back to
                                    login</a>
                            </div>
                        </div>
                    </div>
                    <p class="copy-right-text">COPYRIGHT © 2020 AUTOMATIONWHIZ | CYGNET INFOTECH </p>
                </div>
            </div>
        </div>
    </div>
</div>