<div class="card mb-3 top-less">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-5 mb-3 mb-md-0 d-flex">
                <div class="w-100 mr-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" [(ngModel)]="filterText" #ctrl="ngModel"
                            (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
                    </div>
                </div>
                <div class="dropdown dropdown-custom">
                    <button class="btn btn-primary btn-md dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-filter"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-md" aria-labelledby="dropdownMenuButton">
                        <form (keydown.tab)="$event.stopPropagation()" class="filter-form">
                            <div class="form-group">
                                <label>Select Folder Name</label>
                                <select class="form-control" name="filterFilderName"
                                    (click)="$event.stopPropagation(); false;" [(ngModel)]="filterFolderName"
                                    (ngModelChange)="filterByFolderName()">
                                    <option *ngFor="let item of folderName" [value]="item">{{item}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Select Folder Type</label>
                                <select class="form-control" name="filterFolderType" [(ngModel)]="filterFolderType"
                                    (click)="$event.stopPropagation(); false;" (ngModelChange)="filterByFolderType()">
                                    <option *ngFor="let item of folderType" [value]="item">{{item}}
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-7 d-flex align-items-center justify-content-end">

                <ul class="list-unstyled d-flex m-0 justify-content-end action-main-links">
                    <li (click)="getData()"><a href="javascript:void(0);"><i class="fas fa-sync-alt"></i> Refresh
                        </a></li>
                </ul>

                <div class="dropdown dropdown-custom">
                    <button class="btn btn-primary btn-md ml-3 dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-calendar-check"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-md"
                        aria-labelledby="dropdownMenuButton">
                        <form [formGroup]="dateFilterForm" (keydown.tab)="$event.stopPropagation()" novalidate>
                            <div (click)="$event.stopPropagation(); false;">
                                <div class="form-group">
                                    <label>Select Param</label>
                                    <div class="cal-input">
                                        <select class="form-control" formControlName="param">
                                            <option *ngFor="let item of filterParam" [value]="item">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="cal-input d-flex align-items-center">
                                        <input class="form-control" formControlName="start"
                                            placeholder="Select Start Date" [owlDateTime]="dt1">
                                        <span class="cal-icon" [owlDateTimeTrigger]="dt1"><i
                                                class="far fa-calendar-alt"></i></span>
                                        <owl-date-time #dt1></owl-date-time>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="cal-input d-flex align-items-center">
                                        <input class="form-control" formControlName="end" placeholder="Select End Date"
                                            [owlDateTime]="dt2">
                                        <span class="cal-icon" [owlDateTimeTrigger]="dt2"><i
                                                class="far fa-calendar-alt"></i></span>
                                        <owl-date-time #dt2></owl-date-time>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary btn-sm py-1 mr-3" (click)="filterByDate()">
                                    Apply</button>
                                <button class="btn btn-secondary btn-sm py-1"
                                    (click)="dateFilterForm.reset()">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive" [hidden]="!dataSource?.data?.length">
    <table class="table table-bordered table-striped" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
            <td mat-cell *matCellDef="let element">{{element?.id}} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
            <td mat-cell *matCellDef="let element">{{element?.created_at | date : 'medium'}} </td>
        </ng-container>

        <ng-container matColumnDef="file_accessed_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>File Accessed At</th>
            <td mat-cell *matCellDef="let element">{{element?.file_accessed_at | date : 'medium'}} </td>
        </ng-container>

        <ng-container matColumnDef="file_created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>File Created At</th>
            <td mat-cell *matCellDef="let element">{{element?.file_created_at | date : 'medium'}} </td>
        </ng-container>

        <ng-container matColumnDef="file_modified_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>File Modified At</th>
            <td mat-cell *matCellDef="let element">{{element?.file_modified_at | date : 'medium'}} </td>
        </ng-container>

        <ng-container matColumnDef="filename">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Filename</th>
            <td mat-cell *matCellDef="let element">{{element?.filename}} </td>
        </ng-container>

        <ng-container matColumnDef="filesize">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Filesize</th>
            <td mat-cell *matCellDef="let element">{{element?.filesize}} </td>
        </ng-container>

        <ng-container matColumnDef="folder_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Folder Name</th>
            <td mat-cell *matCellDef="let element">{{element?.folder_name}} </td>
        </ng-container>

        <ng-container matColumnDef="folder_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Folder Type</th>
            <td mat-cell *matCellDef="let element">{{element?.folder_type}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let element">{{element?.location}} </td>
        </ng-container>

        <ng-container matColumnDef="server">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Server</th>
            <td mat-cell *matCellDef="let element">{{element?.server}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-center">Actions </th>
            <td mat-cell *matCellDef="let element">
                <ul class="list-unstyled action-links">
                    <li title="Update">
                        <a href="javascript:void(0);">
                            <i class="fas fa-edit" style="font-size: 12px;"> </i>
                        </a>
                    </li>
                    <li title="Delete">
                        <a href="javascript:void(0);"
                            (click)="templateId = element.id; openDialog(deleteTemplateModal)">
                            <i class="fas fa-trash-alt" style="font-size: 12px;"> </i>
                        </a>
                    </li>
                </ul>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="pagination-wrap" [hidden]="!dataSource?.data?.length">
    <div class="row">
        <div class="col-md-4">
            <div class="page-count">
                <label>Page Count</label>
                <div class="drop-count">
                    <select class="form-control form-control-sm" name="pageSize" [(ngModel)]="pageSize"
                        (ngModelChange)="pageSizeChange()">
                        <option *ngFor="let item of pageSizeOptions" [value]="item">
                            {{ item }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <p class="mt-1 mb-0">{{pageIndex * pageSize + 1}} -
                {{pageIndex == possibleIndex ? totalDataLength : currentDataLength}} of {{totalDataLength}}
            </p>
        </div>
        <div class="col-md-4">
            <div class="pagination-digit float-right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm m-1">
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" [ngClass]="{'disabled' : pageIndex == 0}"
                                (click)="loadPreviousPage()" aria-label="Previous">
                                <i class='fas fa-chevron-left'></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);"
                                [ngClass]="{'disabled' : (totalDataLength == currentDataLength) || (pageIndex == possibleIndex)}"
                                aria-label="Next" (click)="loadNextPage()">
                                <i class='fas fa-chevron-right'></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="no-data text-center" [hidden]="dataSource?.data?.length">
    <img src="assets/images/awhiz/robot-find.svg" />
    <h6>No Record Found</h6>
    <!-- <button class="btn btn-primary btn-sm" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Go
        Back</button> -->
</div>



<ng-template #deleteTemplateModal>
    <div class="aw-common-modal">
        <div class="modal-dialog m-auto">
            <div class="modal-content border-0">
                <div class="modal-header">
                    <h5 class="mb-0"><i class="fas fa-trash-alt"></i> Delete Template</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" matDialogClose>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        Are you sure you want to delete this template ?
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-primary btn-sm">Delete</button>
                    <button type="button" class="btn btn-secondary btn-sm" matDialogClose>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>