.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.light-bg {
    background: #f4f6f9;
}

h6,
th {
    cursor: pointer;
}

.aw-common-modal {
    width: 100%;
}
